body {
    background-color:slategray;
}
.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: serif;
}
.thead {
    font-size: 12px;
}
.content {
    background-color:#ffffff;
}

th {
    background-color:rgb(210, 222, 246);
color: black;
}

td {
    text-align: center;
}

table {
    width: 883px;
    height: 969px;
}